{% block price %}
    <ul class="price-list">
        {% for price in prices %}
            <li class="currency currency-{{ price.currency }}">{{ price.value }}</li>
        {% endfor %}
    </ul>
{% endblock %}
